{% set class = class ?? null %}
{% set consentType = consentType ?? 'marketing' %}
{% set type = type ?? 'form' %}
{% set typeMessage = typeMessage ?? null %}

<div class="cookieconsent-optout-{{ consentType }} {{ class }} z-99">
  <div>
    {% set link_html = '<a class="underline" href="javascript:Cookiebot.renew()">'
      ~ (('consent.accept.' ~ consentType)|t('_craft-twig-components'))
      ~ '</a>'
    %}
    {{
      'consent.accept.message'
        |t(
          '_craft-twig-components',
          { button: link_html|raw, type: (typeMessage ?? ('consent.type.' ~ type))|t('_craft-twig-components') }
        )
        |raw
    }}
  </div>
</div>