{% set video = video ?? null %}
{% set class = class ?? null %}

{% if video is not empty %}
  {% set embeddedAsset = craft.embeddedAssets.get(video) %}
  {% if embeddedAsset is not empty %}
    <div
      class="ui-video-background__wrapper--js absolute inset-0 h-full w-full overflow-hidden {{
      class
      }}"
    >
      <div class="ui-video-background__container--js -translate-1/2 absolute start-1/2 top-1/2">
        <iframe
          class="h-full w-full"
          src="{{
          embeddedAsset.getIframeSrc(
            ['background=1', 'muted=1', 'autoplay=1', 'loop=1', 'byline=0', 'title=0']
          )
          }}"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  {% endif %}
{% endif %}
